<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modelGenericAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Generic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add_genericForm" action="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="generics_name" class="col-form-label">Add Generic:</label>
                        <input type="text" class="form-control" id="generics_name" required>
                    </div>
                    <div class="form-group">
                        <label for="generics_description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="generics_description"></textarea>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>




<script>



    $('#add_genericForm').on('submit', function (event) {
        event.preventDefault();
        const generic_id = localStorage.getItem("generic_id")

        $.ajax({
            url: `/store/generic-home/generic-list/`,
            type: 'POST',
            data: {
                name: $('#generics_name').val(),//.addClass('text-uppercase'),
                description: $('#generics_description').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

            },

            success: function (data) {
                console.log(data);
                $("#myList").animate('swing').empty()
                get_generics()
                if (data) {
                    swallAlerts('Save successfully', 'success', "bottom-end", 3000, false);
                    document.getElementById('add_genericForm').reset()

                }

            },
            error: function (data) {
                console.log(data)
                swallAlerts(`${data.statusText} : ${data.responseJSON.name}`, 'error', "bottom-end", 3000, false);

            }


        });
    })






</script>