{% extends "base.html" %}
{% load static %}


{% block title %}
PASSWORD CHANGED DONE - LAMBDA-INVENTORY
{% endblock title %}


{% block content %}


<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header">
                                    <h3 class="text-center font-weight-light my-4">PASSWORD RESET SENT</h3>
                                </div>
                                <div class="card-body">
                                    <form>
                                        {% csrf_token %}

                                        <p>We've emailed you instructions for setting your password.</p>
                                        <p> if an account exists with the email you entered, you should receive them shortly.</p>
                                        <p>
                                            If you don't receive an email, please make sure you've entered the address you registered with or check your spam folder.

                                        </p>

                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <div class="small"><a href="{% url 'login' %}">Login</a></div>
                                </div>

                            </div>
                            {% if form.errors %}
                            {% for field in form %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">

            {% include "partials/footer.html" %}
        </div>
    </div>


    {% endblock content %}