<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modelCategoryAdd" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title " id="add_category_title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="add_categoryForm" action="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="category_name" class="col-form-label">Add Category:</label>
            <input type="text" class="form-control" id="category_name" required>
          </div>
          <div class="form-group">
            <label for="category_description" class="col-form-label">Description:</label>
            <textarea class="form-control" id="category_description"></textarea>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </form>
    </div>
  </div>
</div>




<script>





  $('#add_categoryForm').on('submit', function (event) {
    event.preventDefault();
    const category_id = localStorage.getItem("category_id")

    console.log(category_id)

    // url = `/store/category-home/category-list/${category_id}/`,
    url = `/store/category-in-generics/${category_id}/`

    $.ajax({
      url: url,
      type: 'POST',
      data: {
        // generic:category_id,
        name: $('#category_name').val(),//.addClass('text-uppercase'),
        description: $('#category_description').val(),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),

      },

      success: function (data) {

        // $("#myList").click()
        // console.log(data);
        $("#myList").animate('swing').empty()
        get_generics()
        // const category_id = localStorage.getItem("category_id")
        displayCategoryTable(category_id)
        $("#categories_div").fadeIn()
        document.getElementById('add_categoryForm').reset();
        if (data) {
          swallAlerts('Save successfully', 'success', "bottom-end", 3000, false);
        }


      }

    });
  })






</script>